.Topbar {
  // border: 2px solid blue;
  position: fixed;
  margin-left: 476px;
  width: calc(100% - 620px);
  left: 0;
  right: 0;
  top: 16px;
  -webkit-transition: margin 0.3s cubic-bezier(0, 0, 0.2, 1),
    width 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: margin 0.3s cubic-bezier(0, 0, 0.2, 1),
    width 0.3s cubic-bezier(0, 0, 0.2, 1);
  background: -webkit-linear-gradient(bottom, transparent, #fff 16px);
  background: linear-gradient(0deg, transparent 0, #fff 16px);
  display: flex;
  flex-direction: column;
  z-index: 1;
  // align-items: center;
  // justify-content: center;
}

.Topbar > div {
  display: flex;
}

.Topbar > div > * {
  height: 56px;
}

.Search {
  flex-grow: 1;
}

.Search > *:first-child {
  width: 100%;
  border-radius: 48px;
}

.Icon {
  width: 48px;
  padding-right: 24px;
}
