.Filterbar {
  writing-mode: horizontal-tb;
  display: flex;
  flex-direction: column;
  max-width: 267px;
  padding: 20px 24px 60px 24px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0 16px 16px 0;
  background: #f8fafd;
}

.Filterbar {
  scrollbar-width: auto;
  scrollbar-color: #bdc1c6;
}

.Filterbar::-webkit-scrollbar {
  width: 5px;
}

.Filterbar::-webkit-scrollbar-track {
  border-radius: 8px;
}

.Filterbar::-webkit-scrollbar-thumb {
  background: #bdc1c6;
  border-radius: 8px;
}

.ResetBtn {
  height: 48px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Heading {
  line-height: 24px;
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;
}

.HorizontalDivider {
  border-top-color: #bdc1c6;
  margin: 32px 16px 16px 16px;
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
}
